.opened_post{
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
}

.head{
    flex: 1;
    background-color: #66d9e8;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 2% 3% 2% 3%;
}

.menu{
    /*background-color: bisque;*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.post_body{
    display: flex;
    flex-direction: column;
    padding: 1% 3% 1% 3%;
    background-color: #f0f4f8;
}

.body_head{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.opened_post_back_button{
    margin-left: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 20px;
    cursor: pointer;
}

.opened_post_hobby{
    margin-left: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 25px;
}

.edit_post{
    background-image: url('./images/edit.png');
    width: 100%;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    margin-bottom: 3px;
}

.delete_post{
    background-image: url('./images/delete.png');
    width: 100%;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    margin-bottom: 5px;
}

.opened_post_back_button{
    background-image: url('./images/back.png');
    width: 100%;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    background-color: transparent;
    margin-bottom: 5px;
}

.opened_post_title{
    padding: 3% 3% 3% 3% ;
    text-align: center;
}

.post_image_in_post{
    display: block;
    margin: 0 auto;
    border-radius: 12px;
    max-width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 2% 2% 2% 2%;
    background-color: #f0f8f7;
}
.opened_post_hobby{

}
.opened_post_date{
    
}
.opened_post_text{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.158);
    padding: 3% 3% 3% 3%;
    background-color: #f0f8f7;;
}
.opened_post_info{

}