.settings_view{
    background-color: rgba(0, 0, 255, 0);
    display: flex;
    flex-direction: column;
    padding: 5% 80px 3% 3%;
}

.save_backup_div{
    height: 10vh;
    width: 100%;
    background-color: rgba(240, 248, 255, 0);
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 3% 3% 3% 3%;
}

.save_backup{
    border-style: solid;
    border-radius: 3%;
    border-width: 3%;
    border-color: black;
}

.load_backup{
    height: 8vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5% 2% 5% 2%;
}

.settings_back{
    height: 100px;
    width: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.backup_div{
    padding: 3% 3% 3% 3%;
}

.contact{
    margin-top: 10%;
}